body {
    margin: 0;
    background-image: url("https://images.pexels.com/photos/2083177/pexels-photo-2083177.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(40%);
    height: 100%;
}

.inicio__fondo {
    height: 100vh;
}

.boton__comenzar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 50px auto;
    transition: 0, 5s;
}

.boton__comenzar--texto {

    max-width: 300px;
    padding: 20px;
    font-size: 20px;
    background: #7a1f1f;
    border: 3px solid rgb(212, 30, 30);
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.5s ease;
}

.boton__comenzar--texto:hover {
    background-color: rgb(120, 16, 16);
    transform: translateY(-5px);
}
