body{
    margin: 0;
    padding: 0;
    background-image: url("https://sm.ign.com/t/ign_es/screenshot/default/winterfell-wallpaper_pu65.1280.png");
    background-repeat: none;
    background-size: cover;
    backdrop-filter: brightness(50%);
    overflow-x: hidden;
}
.opcion{
    max-width: 300px;
    padding: 20px;
    font-size: 1.1rem;
    background: rgb(133, 25, 25);
    border: 3px solid rgb(204, 10, 10);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.5s ease;
}
.opcion:hover{
    background-color:rgb(161, 15, 15);
    transform: translateY(-10px);
}