.header__inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    padding: 20px;
    gap: 20px;
    height: 75px;
}

.foto {
    width: 100px;
    border-radius: 10px;
}

.header__inicio--titulo {
    font-size: 2.5rem;
    letter-spacing: 3px;
}