body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-image: url("https://wallpaperaccess.com/full/4217075.png");
    background-size: cover;
    background-position: center;
    color: #f0e6d2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.boton-accion {
    display: flex;
    justify-content: center;
}

.btn-reiniciar {
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 12px;
    text-decoration: none;
    color: #1a1a1a;
    background: #ffd700;
    border: 2px solid #e6c200;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-reiniciar:hover {
    background-color: #e6c200;
    transform: translateY(-5px);
}