body {
    margin: 0;
    background-image: url("https://lossietereinos.com/wp-content/uploads/2019/05/juego-de-tronos-drogon-desembarco.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: "Book Antiqua", "Palatino Linotype", Palatino, serif;
}

.inicio__fondo {
    height: 100vh;
}
