body {
    margin: 0;
    padding: 0;
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/628/225/desktop-wallpaper-game-of-thrones-art-game-of-thrones-pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: brightness(35%);
    font-family: 'Georgia', serif;
    color: rgb(255, 255, 255);
    min-height: 100vh;
}

.acciones {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.botones-centro {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 60px;
}

.btn {
    padding: 16px 35px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    font-size: 22px;
    font-weight: bold;
    border: 3px solid rgb(197, 164, 109);
    transition: 0.3s;
}

.btn--atacar {
    background: rgb(122, 31, 31);
}

.btn--atacar:hover {
    background: rgb(143, 32, 32);
    transform: scale(1.1);
}

.btn--defender {
    background: rgb(50, 70, 70);
}

.btn--defender:hover {
    background: rgb(65, 90, 90);
    transform: scale(1.1);
}