body {
    margin: 0;
    background-image: url("https://images.pexels.com/photos/1558916/pexels-photo-1558916.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(40%);
    height: 100%;
    font-family: "Book Antiqua", "Palatino Linotype", Palatino, serif;
}

.inicio__fondo {
    height: 100vh;
}

.opcion {
    grid-area: 1/1/2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 166, 0, 0.76);
    border: 8px solid rgb(117, 0, 0);
    border-radius: 20px;
}

.opcion1 {
    grid-area: 2/1/3/2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.5s ease;
    border: 5px solid orange;
    cursor: pointer;
    background-color: rgb(120, 16, 16);
    border-radius: 20px;
    text-decoration: none;
    border-color: orange;
    padding: 20px;
}

.opcion2 {
    grid-area: 2/2/3/3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.5s ease;
    cursor: pointer;
    background-color: rgb(120, 16, 16);
    border-radius: 20px;
    border: 5px solid orange;
    padding: 20px;
}
.opcion1:hover {
    background-color: rgb(193, 2, 2);
    transform: translateY(-5px);

}

.opcion2:hover {
    background-color: rgb(193, 2, 2);
    transform: translateY(-5px);
}