body{
  margin: 0;
  padding: 0;
  background-image: url("https://lahistoriatraseltrono.wordpress.com/wp-content/uploads/2016/11/1.jpg");
  background-repeat: none;
  background-size: cover;
  overflow-x: hidden;
}
