body {
  margin: 0;
  background-image: url("https://i.redd.it/8ui7zj6ng37e1.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: brightness(40%);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inicio__fondo {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.botones {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 40px;
}

.botones__centro {
  max-width: 300px;
  padding: 20px;
  font-size: 20px;
  background: rgb(133, 25, 25);
  border: 3px solid rgb(204, 10, 10);
  color: white;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.5s ease;
}

.botones__centro:hover {
  background-color: rgb(161, 15, 15);
  transform: translateY(-10px);
}